.Calculator {
  width: 250px;
  margin: 100px auto;
  padding: 15px;
  border: 4px solid black;
}
.Calculator input {
  width: 173px;
  height: 50px;
  margin-bottom: 10px;
}
.CalculatorNumber {
  width: 240px;
}
.btn {
  width: 50px;
  height: 50px;
  font-size: 25px;
  margin: 5px;
  font-weight: bold;
}
